
body {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Slab', serif;
}

#banner {
    width: 100%;
    height: 350px;
}

.principal {
    background: #F5F5DC; 
    padding: 30px;
}
.titulo-principal {
    padding-left: 20px;

}

.titulo-centralizado {
    text-align: center;
    color: #894513;
}

p {
    text-align: center; 
}

#missao {
   font-size: 20px;
}

em strong {
    color: #D2691E;
}

.itens {
    font-style: italic;
}

.beneficios {
 background: #FFFFFF;
 padding: 20px;
}


ul {
    display:inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 25%;
}
.imagembeneficios {
    width: 25%;
    
}